
## Timing results

100/100mbps connection


| App | `cf push` | fp1 `cf push` | fp2 `cf fast-push` |
| --- | --- | --- | --- | --- |
| python-flask | 63.35 | 79.12 | 5.13 |
in seconds
